*{
    font-family: sans-serif;
}
.form {
    height: 100%;
    width: 100%;
    background-image:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),url(bgg.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 350px;
    height: 450px;
    position: relative;
    margin: 10% auto;
    background: white;
    padding: 10px;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    background: #fafbfb;
}
.btnbox{
    width:252px;
    margin: 33px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(207, 223, 238);
    border-radius: 20px;
}
.toggle{
    padding: 10px 40px;
    cursor: pointer;
    background: transparent;
    border:0;
    outline: none;
    position: relative;

}
#btn{
    background-color: blue;
    top: 0;
    left: 0;   
    position: absolute;
    width: 132px;
    height: 100%;
    background: linear-gradient(  to right,#3583d6,#71b6db );
    border-radius: 20px;
    transition: 0.3s;
}
.icons{
    margin: 10px ;
    text-align: center; 
}
.icons img{
    width:25px;
    padding: 7px;
    box-shadow: 0 0 20px 0  rgb(207, 223, 238)  ;
    cursor:pointer;
    border-radius: 10px;
    margin: 0px 5px;
}
.input{
     top:120px;
     position: absolute;
     width: 180px;
     margin-top: 50px;
     margin-bottom: 20px;
     margin-left: px;
     margin-right: 60px;
     text-align: center;
     transition: .5s;
     
}
.input1{
    width: 250px;
    padding: 5px;
    margin: 10px;
    background: transparent;
    outline: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid rgb(188, 180, 180) ; 
}
#login{
    margin-left: 65px;
    margin-top: 30px;
    width: 85%;
    padding: 8px ;
    cursor: pointer;
    display: block;
    background: linear-gradient(  to right,#3583d6,#71b6db );
    border-radius: 20px;
    outline: none;
    border: 0;
}
.checkbox{
   margin-top: 20px;
   margin-left:20px; 
}
span{
    color: #777;
    font-size: 13px;
    bottom: 60px;
    margin-left: 1px;
}
#Login1{
   left: 30px; 
}
#Register{
   left: 450px;
}
.container{
    align-items:flex-start;
}